<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li style="color:red;"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <% if @selected_categories %>
      <% options = @categories.map do |opt| %>
        <% if @selected_categories.include?(opt[:id]) %>
          <%  "<option value=\"#{opt[:id]}\" selected=\"selected\">#{opt[:name]}</option>" %>
        <% else %>
          <%  "<option value=\"#{opt[:id]}\">#{opt[:name]}</option>"%>
        <% end %>
      <% end %>
      <%= select_tag "categories", options.join(" ").html_safe,:multiple => true %>
    <% else %>
      <%=select_tag "categories", options_from_collection_for_select(@categories, 'id', 'name'), :multiple => true %>
    <% end %>
  </div>
   
  <div class="field">
    <%= f.label :picture %><br />
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :picture_slider %><br />
    <%= f.text_field :picture_slider %>
  </div>
  <div class="field">
    <%= f.label :preambula %><br />
    <%= f.text_area :preambula,  :rows => "10",:cols=>"45" %>
  </div>
  <div class="field">
    <%= f.label :short_content %><br />
    <%= f.text_area :short_content,  :rows => "10",:cols=>"45" %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content,:cols=>"100" %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </div>
  <div class="field">
    <%= f.label :attached %><br />
    <%= f.check_box :attached %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
