<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Picture</th>
    <th>Picture slider</th>
    <th>Preambula</th>
    <th>Short content</th>
    <th>Content</th>
    <th>Is active</th>
    <th>Attached</th>
    <th>Is active</th>
    <th>Category</th>
    <th>Actions</th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.picture %></td>
    <td><%= article.picture_slider %></td>
    <td><%= article.preambula %></td>
    <td><%= article.short_content %></td>
    <td><%= article.content %></td>
    <td><%= article.is_active %></td>
    <td><%= article.attached %></td>
    <td><%= article.is_active %></td>
    <td><% article.relations_categories.each do |t|%>
            <%=t.category_id %>,
        <% end %>
    </td>
    <td><%= link_to 'Show', article %>&nbsp;<%= link_to 'Edit', edit_article_path(article) %>&nbsp;<%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
