<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Picture:</b>
  <%= @article.picture %>
</p>

<p>
  <b>Picture slider:</b>
  <%= @article.picture_slider %>
</p>

<p>
  <b>Preambula:</b>
  <%= @article.preambula %>
</p>

<p>
  <b>Short content:</b>
  <%= @article.short_content %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<p>
  <b>Is active:</b>
  <%= @article.is_active %>
</p>

<p>
  <b>Attached:</b>
  <%= @article.attached %>
</p>

<p>
  <b>Is active:</b>
  <%= @article.is_active %>
</p>

 


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
